body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  margin: 1em;
}

.question{
  padding: 1em;
}

ul{
  list-style: none;
}

li{
  float: left;
  padding-right: 5px;
}

.score{
  padding: 1em;
}